@model List<ResultFooterAddressDto>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {

        $('#btn1').click(function () {
            swal("Şartlar & Koşullar",
            "CarFlowX üzerinden yapılan araç kiralama işlemlerinde tüm hizmet koşulları kiralama ofislerimizde imzalanan sözleşmelerde detaylı olarak yer almaktadır. Araç kullanımı, hasar sorumluluğu, trafik cezaları ve geçiş ücretleri (HGS/OGS) ile ilgili tüm bilgiler sözleşmede belirtilir.");
        });

        $('#btn2').click(function () {
            swal("Güvenlik",
            "CarFlowX kullanıcı güvenliğini ön planda tutar. Tüm kullanıcı verileri güvenli altyapı ile korunur ve yetkisiz erişimlere karşı korunmaktadır. Ödeme bilgileri sistemimizde saklanmaz ve yalnızca kiralama noktalarında güvenli şekilde işlenir.");
        });

        $('#btn3').click(function () {
            swal("Çerez Politikası",
            "CarFlowX web sitesi, kullanıcı deneyimini geliştirmek ve site performansını analiz etmek amacıyla çerezler kullanmaktadır. Siteyi kullanmaya devam ederek çerez kullanımını kabul etmiş sayılırsınız.");
        });

        $('#btn4').click(function () {
            swal("Sıkça Sorulan Sorular",
            "Araç kiralama süreci, ödeme yöntemleri, rezervasyon işlemleri ve araç teslimi ile ilgili en çok sorulan soruların cevaplarına bu bölümden ulaşabilirsiniz.");
        });

        $('#btn5').click(function () {
            swal("Ödeme Yöntemleri",
            "Araç kiralama ödemeleri kiralama ofislerimizde kredi kartı veya banka kartı ile gerçekleştirilmektedir. Online rezervasyon işlemleri yalnızca ön talep oluşturmak amacıyla kullanılmaktadır.");
        });

        $('#btn6').click(function () {
            swal("Nasıl Çalışır",
            "1. Adım: Size uygun aracı seçin ve rezervasyon oluşturun.\n\n2. Adım: Rezervasyon bilgilerinizi e-posta üzerinden kontrol edin.\n\n3. Adım: Belirttiğiniz kiralama noktasına gelerek aracınızı teslim alın.");
        });

    });
</script>

@foreach (var item in Model)
{
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>FlowX</span></a></h2>
                        <p>@item.Description</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Hızlı Linkler</h2>
                        <ul class="list-unstyled">
                            <li><a href="/About/Index/" class="py-2 d-block">Hakkımızda</a></li>
                            <li><a href="/Car/Index/" class="py-2 d-block">Hizmetlerimiz</a></li>
                            <li><a href="#" id="btn1" class="py-2 d-block">Şartlar & Koşullar</a></li>
                            <li><a href="#" id="btn2" class="py-2 d-block">Güvenlik</a></li>
                            <li><a href="#" id="btn3" class="py-2 d-block">Çerez Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" id="btn4" class="py-2 d-block">Sıkça Sorulanlar</a></li>
                            <li><a href="#" id="btn5" class="py-2 d-block">Ödeme Yöntemleri</a></li>
                            <li><a href="/CarPricing/Index/" class="py-2 d-block">Kiralama</a></li>
                            <li><a href="#" id="btn6" class="py-2 d-block">Nasıl Çalışır</a></li>
                            <li><a href="/Contact/Index/" class="py-2 d-block">Bize Yazın</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Bir sorunuz mu var?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">@item.Address</span></li>
                                <li><span class="icon icon-phone"></span><span class="text">@item.Phone</span></li>
                                <li><span class="icon icon-envelope"></span><span class="text">@item.Email</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
}