@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card admin-table-card">
                    <div class="card-body">
                        <div class="admin-page-header">
                            <h4 class="card-title admin-page-title">Ana Sayfa Referanslar Listesi</h4>
                            <p class="card-subtitle admin-page-desc mb-0">
                                Müşterilerimizin bizim hakkımızda söylemiş oldukları ifadeleri bu sayfadan ekleyip düzenleyebilirsiniz.
                            </p>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Görsel</th>
                                        <th>Ad Soyad</th>
                                        <th>Başlık</th>
                                        <th>Yorum</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="@item.ImageUrl" width="50" height="50" class="rounded" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Title</td>
                                            <td>@item.Comment</td>
                                            <td><a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.TestimonialId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="admin-add-section">
                    <a href="/Admin/AdminTestimonial/CreateTestimonial" class="btn-admin-add">
                        <i class="ri-add-line"></i>
                        Yeni Referans Ekle
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

